extends layout
block content
    style(type='text/css')
        .p {
           margin: 2px 0px;
           font-size: 14px;
        }
        .balance_container {
            margin-top: 20px;
            border: 1px solid #ddd;
            padding: 0 10px;
        }
        .coin {
            width: 150px;
            display: inline-block;
        }
        .seperate {
            padding: 0 15px;
        }
       
    h3= label

    p='Address total: ' + data.address_total
    p='SUI total: ' + data.sui_total
    p='OCEAN total: ' + data.ocean_total
    <br/>
    <br/>
    .balance_container
        - for(let i=0; i<data.balance.length; i++) {
            - item= data.balance[i]
            p=`Wallet ${i+1}: ${item.address}`
                span.seperate='|'
                `SUI: ${item.sui}`
                span.seperate='|'
                `Ocean: ${item.ocean}`
        - }