extends layout
block content
    style(type='text/css')
       .red {
            color: red;
       }
       .green {
           color: green;
       }
       
    h1= label
    h3= data.title
    
        
    - for(let i=(data.ticketData.length-1); i>=0; i--) {
        - ticket= data.ticketData[i]
        b=`${ticket.displayOrder}. ${ticket.title} (id: ${ticket.id})`
        <br/>
        p=`Max order: ${ticket.maxOrder}`
        p=`Price: ${ticket.applyingPrice}`
        p='Available: '
            span(class=ticket.available ? 'green' : 'red')=ticket.available
        p=`Soldout: `
            span(class=ticket.soldOut ? 'red' : 'green')=ticket.soldOut
        p=`Hidden: `
            span(class=ticket.hidden ? 'red' : 'green')=ticket.hidden
        p=`Closed: `
            span(class=ticket.closed ? 'red' : 'green')=ticket.closed
    - }